@import "/src/assets/css/variables";

.btn-block {
  display: block;
  width: 100%;
  border-style: dashed;
  border-width: 3px;
}

#layer-management {
  h2 {
    font-family: Roboto, "Helvetica Neue", sans-serif!important;
    font-size: 2rem;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
  }

  .layers {
    overflow-y: auto;

    .cdk-drop-list-dragging .layer:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .layer {
      margin: 1rem 0;

      input, .edit {
        cursor: pointer;
      }

      &.active .mat-form-field-outline {
        border: 3px solid mat-color($primary);
        border-radius: 5px;
      }

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .drag-handle {
        cursor: move;
      }
    }
  }
}

#layer-properties {
  mat-slider, mat-form-field {
    width: 100%;
  }
}

/**
  DRAG AND DROP
 */

.cdk-drag-preview {
  background-color: white;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

