<div>
  <div id="layer-management">
    <h2 class="text-center">{{ 'editor.layers.management-title' | translate }}</h2>

    <div class="layers">
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div cdkDrag cdkDragLockAxis="y" (click)="onLayerClick(layer)" *ngFor="let layer of layers" class="layer" [ngClass]="{ active: layer == saveService.getSelectedLayer() }">
          <mat-form-field appearance="outline">
            <input [value]="layer.name" matInput [placeholder]="'editor.layers.placeholder' | translate" readonly>
            <span matSuffix class="d-flex align-items-center">
              <button mat-icon-button class="edit" (click)="onLayerEdit($event, layer)"><mat-icon>edit</mat-icon></button>
              <mat-icon class="drag-handle" cdkDragHandle>drag_handle</mat-icon>
            </span>
          </mat-form-field>
        </div>
      </div>
      <div>
        <button (click)="addNewLayer()" class="btn-block" mat-stroked-button color="primary">{{ 'editor.layers.add-button' | translate }}</button>
      </div>
    </div>
  </div>
<!--  <hr>-->
<!--  <div id="layer-properties">-->
<!--    <h2 class="text-center">{{ 'editor.layers.properties-title' | translate }}</h2>-->

<!--    <div>-->
<!--      <div>-->
<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>{{ 'editor.layers.name' | translate }}</mat-label>-->
<!--          <input matInput>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div>-->
<!--        <mat-label>{{ 'editor.layers.rarity' | translate }}</mat-label>-->
<!--        <mat-slider-->
<!--          step="1"-->
<!--          min="0"-->
<!--          max="100"-->
<!--          color="primary"-->
<!--          aria-label="rarity">-->
<!--        </mat-slider>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
