<!--<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top border-bottom border-dark border-2">-->
<!--  <div class="container">-->
<!--    <a class="navbar-brand">-->
<!--      <img src="" alt="logo" width="163" height="40" class="d-inline-block align-text-top">-->
<!--    </a>-->
<!--    <div class="collapse navbar-collapse justify-content-end" id="navbarMenus">-->
<!--      <ul class="navbar-nav">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link fw-bold" aria-current="page">Créer une collection NFT</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

<header>
  <div class="inner container">
    <div class="logo">
      <div class="d-flex align-items-center">
        <!-- The below line can be an image or a h1, either will work -->
        <img src="assets/images/logo_text.jpg" alt="Logo">
      </div>
    </div>

    <nav>
      <li *ngIf="!authService.isLogged(); else logout">
        <span mdbDropdown class="dropdown">
          <a class="dropdown-toggle" aria-expanded="false" mdbDropdownToggle mat-icon-button color="primary"><mat-icon>account_circle</mat-icon></a>
          <div mdbDropdownMenu class="dropdown-menu dropdown-menu-end">
            <ciren-login></ciren-login>
          </div>
        </span>
      </li>
      <ng-template #logout>
        <li>
        <span>
          <a (click)="authService.logout()" mat-icon-button color="primary"><mat-icon>logout</mat-icon></a>
        </span>
        </li>
      </ng-template>
      <li><span><button (click)="homeService.goToEditor()" mat-raised-button color="primary">{{ 'header.create-collection' | translate }}</button></span></li>
    </nav>
  </div>
</header>
