<form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
  <div class="login-card px-4 py-3">
    <div class="container">
      <h3 class="mb-3">{{ 'register.title' | translate }}</h3>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [placeholder]="'register.placeholder.firstname' | translate" formControlName="firstname" type="text">
            <mat-error *ngIf="registerForm.controls['firstname'].hasError('required')">
              {{ 'form.error.required.firstname' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [placeholder]="'register.placeholder.lastname' | translate" formControlName="lastname" type="text">
            <mat-error *ngIf="registerForm.controls['lastname'].hasError('required')">
              {{ 'form.error.required.lastname' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [placeholder]="'register.placeholder.email' | translate" formControlName="email" type="email">
            <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
              {{ 'form.error.required.email' | translate }}
            </mat-error>
            <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
              {{ 'form.error.format.email' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input (input)="inputPasswords()" matInput [placeholder]="'register.placeholder.password' | translate" formControlName="password" type="password">
            <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
              {{ 'form.error.required.password' | translate }}
            </mat-error>
            <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
              {{ 'form.error.minlength.password' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input (input)="inputPasswords()" matInput [placeholder]="'register.placeholder.password2' | translate" formControlName="password2" type="password">
            <mat-icon class="green" matSuffix *ngIf="samePasswords">check</mat-icon>
            <mat-icon class="red" matSuffix *ngIf="!samePasswords">clear</mat-icon>
            <mat-error *ngIf="registerForm.controls['password2'].hasError('required')">
              {{ 'form.error.required.password' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">{{ 'form.button.label.submit' | translate }}</button>
        <a class="already-href" (click)="displayLoginForm()">{{ 'register.already' | translate }}</a>
      </div>
    </div>
  </div>
</form>
