@import '/src/assets/css/variables';

.full-width {
  width: 100%;
}

.login-card {
  min-width: 120px;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
.container {
  padding: 1rem;
  width: 300px;
}

.already-href {
  cursor: pointer;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: mat-color($primary);
}
