<div>
  <div class="text-center">
    <mat-icon (click)="close()" class="expand-more">expand_more</mat-icon>
  </div>
<!--  <div class="d-flex justify-content-end">-->
<!--    <mat-button-toggle-group [(ngModel)]="behaviour">-->
<!--      <mat-button-toggle value="relative">{{ 'editor.properties.rarity.relative' | translate }}</mat-button-toggle>-->
<!--      <mat-button-toggle value="absolute">{{ 'editor.properties.rarity.absolute' | translate }}</mat-button-toggle>-->
<!--    </mat-button-toggle-group>-->
<!--  </div>-->
  <mat-card *ngFor="let item of items">
    <div class="items">
      <span>{{ item.name }} (<b>{{ item.rarity }}%</b>)</span>
      <mat-slider
        color="primary"
        [step]="0.1"
        [min]="1"
        [max]="100-(nb_items-1)"
        (input)="onRarityInput($event, item)"
        (change)="onRarityChange()"
        [value]="getRarity(item)"></mat-slider>
    </div>
  </mat-card>
</div>
