<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <div class="login-card px-4 py-3">
    <div class="container">
      <h3 class="mb-3">{{ 'login.title' | translate }}</h3>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [placeholder]="'login.placeholder.email' | translate" formControlName="email" type="email">
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
              {{ 'form.error.required.email' | translate }}
            </mat-error>
            <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
              {{ 'form.error.format.email' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [placeholder]="'login.placeholder.password' | translate" formControlName="password" type="password">
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              {{ 'form.error.required.password' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">{{ 'form.button.label.submit' | translate }}</button>
        <a class="already-href" (click)="displayRegisterForm()">{{ 'login.already' | translate }}</a>
      </div>
    </div>
  </div>
</form>
