<form (ngSubmit)="onSubmit()" [formGroup]="settingsForm" novalidate>
  <div class="login-card px-4 py-3">
    <div class="container">
      <h3 class="mb-3">{{ 'editor.settings.title' | translate }}</h3>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{ 'editor.settings.label.nb' | translate }}</mat-label>
            <input
              [(ngModel)]="settingsService.settings.nb"
              [placeholder]="'editor.settings.placeholder.nb' | translate"
              formControlName="nb"
              matInput
              step="1"
              type="number">
            <mat-error *ngIf="settingsForm.controls['nb'].hasError('required')">
              {{ 'form.error.required.number' | translate }}
            </mat-error>
            <mat-error
              *ngIf="settingsForm.controls['nb'].hasError('min') || settingsForm.controls['nb'].hasError('max')">
              {{ 'editor.settings.error.format.nb' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <mat-form-field class="full-width">
            <input
              [(ngModel)]="settingsService.settings.resolution.x"
              [placeholder]="'editor.settings.placeholder.resolution.x' | translate"
              formControlName="resolutionX"
              matInput
              step="1"
              type="number">
            <mat-error *ngIf="settingsForm.controls['resolutionX'].hasError('required')">
              {{ 'form.error.required.number' | translate }}
            </mat-error>
            <mat-error *ngIf="settingsForm.controls['resolutionX'].hasError('min')">
              {{ 'form.error.format.number' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="full-width">
            <input
              [(ngModel)]="settingsService.settings.resolution.y"
              [placeholder]="'editor.settings.placeholder.resolution.y' | translate"
              formControlName="resolutionY"
              matInput
              step="1"
              type="number">
            <mat-error *ngIf="settingsForm.controls['resolutionY'].hasError('required')">
              {{ 'form.error.number-required' | translate }}
            </mat-error>
            <mat-error *ngIf="settingsForm.controls['resolutionY'].hasError('min')">
              {{ 'form.error.format.number' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{ 'editor.settings.label.email' | translate }}</mat-label>
            <input
              [(ngModel)]="settingsService.settings.email"
              [placeholder]="'editor.settings.placeholder.email' | translate"
              formControlName="email"
              matInput
              type="email">
            <mat-error *ngIf="settingsForm.controls['email'].hasError('required')">
              {{ 'form.error.required.email' | translate }}
            </mat-error>
            <mat-error *ngIf="settingsForm.controls['email'].hasError('email')">
              {{ 'form.error.format.email' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <button [disabled]="settingsForm.invalid" color="primary" mat-raised-button
                type="submit">{{ 'form.button.label.generate' | translate }}</button>
      </div>
    </div>
  </div>
</form>
