@import "/src/assets/css/variables";

.container-fluid {
  height: 100vh;
}

#layers-container, #properties-container {
  padding: 2rem;
  height: 100%;
}

#main-panel {
  padding: 1rem;
  min-height: 100vh;

  #action-buttons {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 3;

    button {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  .drop-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: mat-color($primary);
    opacity: 0;

    &.d-flex {
      transition: opacity 5s;
      opacity: 0.7;
    }
  }
}

.custom-tooltip {
  font-size: 1rem;
}
