<mat-drawer-container class="container-fluid" autosize>
  <mat-drawer #drawer id="layers-container" mode="side" opened>
    <ciren-editor-layers
      [layers]="saveService.getLayers()"
    ></ciren-editor-layers>
  </mat-drawer>
  <div id="main-panel" (dragover)="onDragOver($event)">
    <ciren-editor-panel (onSideBarToggle)="drawer.toggle()"></ciren-editor-panel>
    <div id="action-buttons">
      <button (click)="preview()" mat-fab color="primary" [matTooltip]="'editor.actions.preview' | translate" matTooltipClass="custom-tooltip">
        <mat-icon>visibility</mat-icon>
      </button>
      <button (click)="generate()" mat-fab color="primary" [matTooltip]="'editor.actions.generate' | translate" matTooltipClass="custom-tooltip">
        <mat-icon>factory</mat-icon>
      </button>
    </div>
    <div #dropOverlay class="drop-overlay align-items-center justify-content-center d-none" (dragleave)="onDragOver($event)" (drop)="onDrop($event)">
<!--      <h2 style="color: white;">{{ 'editor.panel.drop-files' | translate}}</h2>-->
    </div>
  </div>
<!--  <mat-drawer id="properties-container" position="end" mode="side" opened>-->
<!--    <ciren-editor-properties></ciren-editor-properties>-->
<!--  </mat-drawer>-->
</mat-drawer-container>
