<ngx-ui-loader fgsColor="#4e39d5"
               pbColor="#4e39d5"
               overlayColor="rgba(239, 237, 253)"
               [fgsSize]="75"
               fgsType="square-loader"
></ngx-ui-loader>
<router-outlet></router-outlet>
