<div>
  <div class="text-center">
    <mat-icon (click)="onClose()" class="expand-more">expand_more</mat-icon>
  </div>
  <form [formGroup]="propertiesForm" novalidate>
    <div>
      <h2 class="text-center">{{ 'editor.properties.layer-title' | translate }}</h2>

      <div>
        <div class="mb-4">
          <h3 >{{ 'editor.properties.basic-information' | translate }}</h3>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>{{ 'editor.properties.item-name' | translate }}</mat-label>
              <input [(ngModel)]="properties.name" formControlName="name" matInput>
              <mat-error *ngIf="propertiesForm.controls['name'].hasError('required')">
                {{ 'editor.properties.error.name-required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <!--          <div>-->
          <!--            <mat-form-field appearance="outline">-->
          <!--              <mat-label>{{ 'editor.properties.layer' | translate }}</mat-label>-->
          <!--              <mat-select formControlName="layer">-->
          <!--                <mat-option>Background</mat-option>-->
          <!--              </mat-select>-->
          <!--              <mat-error *ngIf="propertiesForm.controls['layer'].hasError('required')">-->
          <!--                {{ 'editor.properties.error.layer-required' | translate }}-->
          <!--              </mat-error>-->
          <!--            </mat-form-field>-->
          <!--          </div>-->
        </div>
        <!--        <div>-->
        <!--          <h3>Technical information</h3>-->
        <!--          <div>-->
        <!--            <mat-label>{{ 'editor.properties.rarity' | translate }}</mat-label>-->
        <!--            <mat-slider-->
        <!--              step="1"-->
        <!--              min="0"-->
        <!--              max="100"-->
        <!--              color="primary"-->
        <!--              aria-label="rarity"-->
        <!--              class="slider">-->
        <!--            </mat-slider>-->
        <!--          </div>-->
        <!--        </div>-->

        <div class="d-flex justify-content-end">
          <button mat-raised-button color="warn" (click)="onDelete(properties)">{{ 'editor.properties.delete' | translate }}</button>
        </div>
      </div>
    </div>
  </form>
</div>
