<div class="spinner-block">
  <ngx-ui-loader fgsColor="#4e39d5"
                 [hasProgressBar]="false"
                 [fgsSize]="75"
                 overlayColor="rgba(239, 237, 253, 0.6)"
                 fgsType="square-loader"
                 loaderId="preview_modal"
  ></ngx-ui-loader>
  <img *ngIf="image !== null" [src]="image">
</div>
