<div class="home">
  <header class="header">
    <div class="overlay-black"></div>
    <div class="header-content">
      <nav class="menu">
        <div class="menu-logo">
          <img src="/assets/images/logo.png" alt="Logo">
        </div>
        <div class="menu-links">
          <a
            matRipple
            class="home-button"
            [routerLink]="routeNames.getRoutePath('collections')"
          >{{ 'home.menu.editor' | translate }}</a>

          <a
            matRipple
            class="login-button"
            (click)="openLoginModal()"
            *ngIf="!authService.isLogged(); else logout"
          >
            {{ 'home.menu.login' | translate }}
          </a>
          <ng-template #logout>
            <a
              matRipple
              class="login-button"
              (click)="authService.logout()"
            >
              <mat-icon>logout</mat-icon>
            </a>
          </ng-template>
        </div>
      </nav>

      <div class="hero">
        <div class="hero-content">
          <div class="hero-title">
            <h1>{{ 'home.menu.title' | translate }}</h1>
          </div>
          <div class="hero-actions">
            <a matRipple class="home-button" [routerLink]="routeNames.getRoutePath('collections')">
              {{ 'home.menu.access-editor' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="kpi">
    <div class="kpi-element">
      <div class="kpi-element-icon"><mat-icon [inline]="true">layers</mat-icon></div>
      <div class="kpi-element-content">
        <h3>{{ 'home.kpi.layers-title' | translate }}</h3>
        <p>{{ 'home.kpi.layers-desc' | translate }}</p>
      </div>
    </div>
    <div class="kpi-element">
      <div class="kpi-element-icon"><mat-icon [inline]="true">star</mat-icon></div>
      <div class="kpi-element-content">
        <h3>{{ 'home.kpi.rarity-title' | translate }}</h3>
        <p>{{ 'home.kpi.rarity-desc' | translate }}</p>
      </div>
    </div>
    <div class="kpi-element">
      <div class="kpi-element-icon"><mat-icon [inline]="true">image</mat-icon></div>
      <div class="kpi-element-content">
        <h3>{{ 'home.kpi.quality-title' | translate }}</h3>
        <p>{{ 'home.kpi.quality-desc' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="tutorial">
    <div class="tutorial-title block-title">
      <h2>{{ 'home.tutorial.title' | translate }}</h2>
      <hr>
    </div>
    <div class="tutorial-content">
      <img src="/assets/images/video-in-coming.png" [alt]="'home.tutorial.video-in-coming' | translate">
    </div>
  </div>
  <div class="pricing container">
    <div class="pricing-title block-title">
      <h2>{{ 'home.pricing.title' | translate }}</h2>
      <hr>
    </div>
    <div class="pricing-container">
      <div class="pricing-content">
        <table class="pricing-table">
          <thead>
          <tr class="pricing-header">
            <th></th>
            <th>{{ 'home.pricing.header.free' | translate }}</th>
<!--            <th>{{ 'home.pricing.header.account' | translate }}</th>-->
            <th>
              {{ 'home.pricing.header.premium' | translate }}<br>
<!--              <span>{{ 'home.pricing.header.premium-desc' | translate }}</span>-->
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>{{ 'home.pricing.header.collection-nb' | translate }}</th>
<!--            <td>{{ 'home.pricing.up-to' | translate }} 50 {{ 'home.pricing.images' | translate }}</td>-->
            <td>{{ 'home.pricing.up-to' | translate }} 100 {{ 'home.pricing.images' | translate }}</td>
            <td>{{ 'home.pricing.up-to' | translate }} 20 000 {{ 'home.pricing.images' | translate }}</td>
          </tr>
          <tr>
            <th>{{ 'home.pricing.header.rarity-management' | translate }}</th>
<!--            <td><mat-icon class="green">check</mat-icon></td>-->
            <td><mat-icon class="green">check</mat-icon></td>
            <td><mat-icon class="green">check</mat-icon></td>
          </tr>
          <tr>
            <th>{{ 'home.pricing.header.preview' | translate }}</th>
<!--            <td><mat-icon class="green">check</mat-icon></td>-->
            <td><mat-icon class="green">check</mat-icon></td>
            <td><mat-icon class="green">check</mat-icon></td>
          </tr>
          <tr>
            <th>{{ 'home.pricing.header.unlimited-layers' | translate }}</th>
<!--            <td><mat-icon class="green">check</mat-icon></td>-->
            <td><mat-icon class="green">check</mat-icon></td>
            <td><mat-icon class="green">check</mat-icon></td>
          </tr>
          <tr>
            <th>{{ 'home.pricing.header.unlimited-images' | translate }}</th>
<!--            <td><mat-icon class="green">check</mat-icon></td>-->
            <td><mat-icon class="green">check</mat-icon></td>
            <td><mat-icon class="green">check</mat-icon></td>
          </tr>
          <tr>
            <th>{{ 'home.pricing.header.background-generation' | translate }}</th>
<!--            <td><mat-icon class="green">check</mat-icon></td>-->
            <td><mat-icon class="green">check</mat-icon></td>
            <td><mat-icon class="green">check</mat-icon></td>
          </tr>
          <tr>
            <th>
              {{ 'home.pricing.header.metadata' | translate }}<br>
              <em>{{ 'home.pricing.header.metadata-desc' | translate }}</em>
            </th>
<!--            <td><mat-icon class="grey">close</mat-icon></td>-->
            <td><mat-icon class="grey">close</mat-icon></td>
            <td><mat-icon class="green">check</mat-icon></td>
          </tr>
<!--          <tr>-->
<!--            <th>{{ 'home.pricing.header.cloud-savings' | translate }}</th>-->
<!--            <td>1</td>-->
<!--            <td>{{ 'home.pricing.unlimited' | translate }}</td>-->
<!--            <td>{{ 'home.pricing.unlimited' | translate }}</td>-->
<!--          </tr>-->
          <tr>
            <th>{{ 'home.pricing.header.support' | translate }}</th>
<!--            <td>{{ 'home.pricing.support.2h' | translate }}</td>-->
            <td>{{ 'home.pricing.support.2h' | translate }}</td>
            <td>{{ 'home.pricing.support.2h' | translate }}</td>
          </tr>
          <tr>
            <th>{{ 'home.pricing.header.price' | translate }}</th>
            <td>{{ 'home.pricing.header.free' | translate }}</td>
            <td>
              {{ 'home.pricing.from' | translate }} {{ 20 | currency : 'EUR' : 'symbol' : '1.2-2' : 'en-US' }}<br>
              <em>{{ 'home.pricing.per-collection' | translate }}</em>
            </td>
          </tr>
          <tr class="pricing-table-footer">
            <td></td>
            <td colspan="2">
              <a [routerLink]="routeNames.getRoutePath('collections')" class="home-button">{{ 'home.pricing.start-creating' | translate }}</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
