@import "/src/assets/css/variables";

.home {
  background-color: #E9E6EB;

  .home-button {
    border-radius: 30px;
    background-color: mat-color($primary);
    color: white;
    font-weight: 700;
    padding: 16px 40px;
    cursor: pointer;
    text-decoration: none;
  }

  div.block-title {
    margin-bottom: 2rem;
    text-align: center;

    h2 {
      text-transform: uppercase;
      font-size: 2rem;
    }

    hr {
      width: 90px;
      border-color: mat-color($primary);
    }
  }

  div.tutorial, div.pricing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
  }
}

header.header {
  background: url('/assets/images/home-back.png') no-repeat center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  position: relative;

  .header-content {
    max-width: 1320px;
    z-index: 2;
    width: 100%;
    padding: 1rem 2rem;

    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu-links {
        display: flex;

        a {
          //max-height: 51px;
          align-self: center;

          &.login-button {
            color: white;
            font-weight: 700;
            margin: 16px 20px;
            cursor: pointer;
            text-decoration: none;
          }
        }
      }
      width: 100%;
    }

    .hero {
      height: 750px;
      align-items: center;
      justify-content: center;
      display: flex;
      width: 100%;

      .hero-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 800px;

        .hero-title > h1 {
          color: white;
          margin-bottom: 2rem;
          font-weight: 700;
          font-family: Montserrat, sans-serif;
          font-size: 3.75rem;
        }

        .hero-actions a {
          display: inline-block;
        }
      }
    }
  }

  .overlay-black {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
  }
}

div.kpi {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #F4F2F7;

  div.kpi-element + div.kpi-element {
    border-left: 1px #E9E6EB solid;
  }

  .kpi-element {
    display: flex;
    align-items: center;
    width: 33.33%;
    margin: 1rem 0;
    padding: 0 3rem;

    .kpi-element-icon {
      display: inline-flex;
      font-size: 2.5rem;
      margin: 1rem;
      padding: 0.6rem;
      color: mat-color($primary);
      background-color: #E8E6EB;
      border-radius: 50%;
    }

    .kpi-element-content {
      flex-grow: 1;
    }
  }
}

div.tutorial {
  padding-top: 5rem;

  .tutorial-content > img {
    border-radius: 30px;
  }
}

div.pricing {
  .pricing-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .pricing-content {
      background-color: #F4F2F7;
      border-radius: 30px;
      padding: 2rem;

      .pricing-table {
        border-collapse: collapse;

        thead th {
          border-bottom: #bababa solid 1px;
        }
        tbody > tr:not(tr:last-child) {
          border-bottom: #e1dfdf solid 1px;
        }

        tr {
          &:not(tr:last-child) > th:first-child {
            border-bottom: #bababa solid 1px;
          }

          &> th:first-child {
            border-right: #bababa solid 1px!important;
            text-align: left;
            padding: 1rem 2rem;
          }
        }

        th, td {
          padding: 1rem 4rem;
          text-align: center;
        }

        th > em {
          font-weight: normal;
          font-size: 0.8rem;
        }
        td > em {
          font-size: 0.8rem;
        }

        thead {
          font-size: 1.5rem;
        }
        .pricing-table-footer a {
          margin: 10rem 0.2rem;
        }
      }
    }
  }
}

