<div>
  <div *ngIf="items.length > 0" id="files" class="row">
    <div class="title">
      <mat-card class="d-flex justify-content-start align-items-center">
        <button (click)="onSideBarToggle.emit()" mat-icon-button><mat-icon>menu</mat-icon></button>
        <h2 class="me-4">{{ 'editor.panel.files-title' | translate }}</h2>
        <mat-chip-list [selectable]="false">
          <mat-chip [selectable]="false" [disableRipple]="true">{{ 'editor.panel.layer' | translate }} {{ saveService.getSelectedLayer()?.name }}</mat-chip>
        </mat-chip-list>
      </mat-card>
    </div>
    <div class="row actions-bar">
      <div class="d-flex justify-content-between actions">
        <button mat-raised-button color="primary" (click)="onBulkRarity()">
          <mat-icon>tune</mat-icon> <span class="d-none d-md-inline">{{ 'editor.panel.bulk-actions.rarity-config' | translate }}</span>
        </button>
        <div>
          <button class="me-3" mat-raised-button (click)="onSelectAll()" [disabled]="items.length === 0">
            <mat-icon>done_all</mat-icon> <span class="d-none d-md-inline">{{ (itemsChecked.length === items.length && items.length !== 0 ? 'editor.panel.bulk-actions.unselect-all' : 'editor.panel.bulk-actions.select-all') | translate }}</span>
          </button>
          <button mat-stroked-button color="primary" [matMenuTriggerFor]="bulkActions" [disabled]="itemsChecked.length == 0">
            <mat-icon>settings_input_component</mat-icon> <span class="d-none d-md-inline">{{ 'editor.panel.bulk-actions.actions' | translate }}</span>
          </button>
        </div>
        <mat-menu #bulkActions="matMenu" xPosition="before">
          <button mat-menu-item (click)="onBulkDelete()">
            <mat-icon>delete</mat-icon> <span>{{ 'editor.panel.bulk-actions.delete' | translate }}</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div *ngFor="let item of items" class="file col-4 col-lg-3 col-xl-2 mb-4">
      <mat-card [ngClass]="{ active: selected_item == item }">
        <div class="img-container">
          <img mat-card-image [src]="upload_base_url+ (getFile(item).url)" [alt]="getFile(item).url">
          <mat-checkbox color="primary" [checked]="itemsChecked.includes(item)" class="item_checkbox" (change)="onCheckboxChange($event, item);"></mat-checkbox>
        </div>
        <mat-card-content>
          <p class="item-name">{{ item.name }}</p>
<!--          <div>-->
<!--            <mat-slider-->
<!--              step="1"-->
<!--              min="0"-->
<!--              max="100"-->
<!--              color="primary"-->
<!--              class="slider"-->
<!--              aria-label="units"></mat-slider>-->
<!--          </div>-->
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-around">
          <button mat-icon-button (click)="onItemEdit($event, item)"><mat-icon>settings</mat-icon></button>
          <button mat-icon-button color="warn" (click)="onItemDelete($event, item)"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="editorService.isLoading" class="loader col-4 col-lg-3 col-xl-2 mb-4">
      <mat-card>
        <mat-card-content>
          <mat-spinner mode="indeterminate"></mat-spinner>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div id="upload">
    <div class="title">
      <mat-card>
        <h2>{{ 'editor.panel.upload-files' | translate }}</h2>
      </mat-card>
    </div>
    <div class="drop-zone" (click)="file.click()">
      <mat-icon>attach_file</mat-icon>
      <p class="drop-files-label">{{ 'editor.panel.drop-files' | translate}}</p>
      <input (change)="onUploadFiles($event)" #file type="file" multiple class="d-none" accept="image/png">
    </div>
  </div>
</div>
