@import '/src/assets/css/variables';

.drop-zone {
  width: 100%;
  height: 30vh;
  border: 3px dashed rgba(0,0,0,.12);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;

  font-size: 1.5rem;

  > .drop-files-label {
    margin-top: 0;
    font-family: var(--mdb-font-roboto);
    line-height: 1.6;
  }
}

.title {
  margin-bottom: 2rem;

  > mat-card {
    margin-top: -1rem;
    margin-right: -1rem;
    margin-left: -1rem;
    padding-left: 1.3rem;
  }

  h2 {
    margin-bottom: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif!important;
    font-size: 2rem;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
  }
}

#files {
  margin-bottom: 2rem;

  .actions {
    margin-bottom: 2rem;

    button .mat-button-wrapper > span {
        padding-left: 0.5rem;
    }
  }

  .file  {
    //> mat-card:hover {
    //  border: 3px mat-color($accent) solid;
    //}

    > mat-card.active {
      border: 3px mat-color($primary) solid;
    }

    .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      mat-checkbox {
        position: absolute;
        right: 0.1rem;
        top: 0;
        z-index: 2;

        .mat-checkbox-frame {
          background-color: white;
        }
      }

      img {
        max-height: 150px;
        height: min-content;
        width: auto;
        position: relative;
      }
    }

    .item-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .display-more {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: dashed 3px rgba(0,0,0,.12);
  }

  .loader > mat-card {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
