/* You can add global styles to this file, and also import other style files */

$container-padding-x: 0;

//@import '~bootstrap/scss/bootstrap-grid';
//@import '~bootstrap/scss/bootstrap-utilities';
//@import '~bootstrap/scss/navbar';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
//@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@import "assets/css/mdb";
//@import '~mdb-angular-ui-kit/assets/scss/mdb';
@import url('https://fonts.cdnfonts.com/css/montserrat');

html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, "Helvetica Neue", sans-serif; }

*, *:before, *:after {
  box-sizing: border-box;
}

//h1 {
//  font-size: 3rem!important;
//}

.growl-success {
  background-color: #4e8f4e;
}
.growl-danger {
  background-color: #d74f4f;
}
.growl-warning {
  background-color: #866c39;
}
//.growl-info {
//  background-color: #4c8382;
//}



.green {
  //color: #25d725;
  color: #4e8f4e;
}
.red {
  //color: #ce2121;
  color: #d74f4f;
}
.orange {
  color: #866c39;
}
.grey {
  color: #e1dfdf;
}
