<div>
  <div class="row">
    <div class="title">
        <mat-card class="">
          <div class="container d-flex justify-content-between align-items-center">
            <h2 class="me-4 mt-0">{{ 'collections.title' | translate }}</h2>
            <button (click)="createSave()" color="primary" mat-raised-button>{{ 'collections.create-save' | translate }}</button>
          </div>
        </mat-card>
    </div>
  </div>

  <div class="panel container">

    <table mat-table
           [dataSource]="collections" multiTemplateDataRows
           class="collection-table">
<!--      <ng-container [matColumnDef]="column" *ngFor="let column of columns">-->
<!--        <th mat-header-cell *matHeaderCellDef> {{ 'collections.table.'+column | translate }} </th>-->
<!--        <td mat-cell *matCellDef="let collection"> {{ collection[column] }} </td>-->
<!--      </ng-container>-->

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{ 'collections.table.name' | translate }} </th>
        <td mat-cell *matCellDef="let collection">{{ collection['name'] }}</td>
      </ng-container>
      <ng-container matColumnDef="generated">
        <th mat-header-cell *matHeaderCellDef class="text-center"> {{ 'collections.table.generated' | translate }} </th>
        <td mat-cell *matCellDef="let collection" class="text-center">
          <mat-icon *ngIf="collection['generated']" class="green">check</mat-icon>
          <mat-icon *ngIf="!collection['generated']" class="red">clear</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef class="text-end">{{ 'collections.table.updatedAt' | translate }}</th>
        <td mat-cell *matCellDef="let collection" class="text-end">{{ collection['updatedAt'] | date }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-end"> {{ 'collections.table.actions' | translate }} </th>
        <td mat-cell *matCellDef="let collection" class="text-end pe-2">
          <a mat-icon-button [routerLink]="routeNames.getRoutePath('editor', { uuid: collection.uuid })"><mat-icon>edit</mat-icon></a>
          <button mat-icon-button color="warn" (click)="deleteSave(collection.id)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
<!--      <ng-container matColumnDef="expandedDetail">-->
<!--        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">-->
<!--          <div class="example-element-detail"-->
<!--               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">-->
<!--            <div class="example-element-diagram">-->
<!--              <div class="example-element-position"> {{element.position}} </div>-->
<!--              <div class="example-element-symbol"> {{element.symbol}} </div>-->
<!--              <div class="example-element-name"> {{element.name}} </div>-->
<!--              <div class="example-element-weight"> {{element.weight}} </div>-->
<!--            </div>-->
<!--            <div class="example-element-description">-->
<!--              {{element.description}}-->
<!--              <span class="example-element-description-attribution"> &#45;&#45; Wikipedia </span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </td>-->
<!--      </ng-container>-->

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let collection; columns: columns;">
      </tr>
    </table>

<!--    <div class="row d-flex justify-content-around">-->
<!--      <p>Name</p>-->
<!--      <p>Created at</p>-->
<!--      <p>Updated at</p>-->
<!--      <p>Actions</p>-->
<!--    </div>-->
<!--    <div class="row mb-3" *ngFor="let collection of collections">-->
<!--      <div class="col-12">-->
<!--        <mat-card class="d-flex justify-content-between align-content-center">-->
<!--&lt;!&ndash;          <div class="img-container">&ndash;&gt;-->
<!--&lt;!&ndash;            <img mat-card-image>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--          <mat-card-content class="d-flex align-items-center mb-0">-->
<!--            <p class="item-name">{{ collection.name }}</p>-->
<!--          </mat-card-content>-->
<!--          <mat-card-actions class="d-flex justify-content-around align-items-center pt-0">-->
<!--            <button mat-icon-button><mat-icon>edit</mat-icon></button>-->
<!--            <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>-->
<!--          </mat-card-actions>-->
<!--        </mat-card>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

</div>
